<% if !logged_in? %>
  <%= render partial:'/sessions/form' %>
  <h1 class='center-block'>Practice and feedback are the stepping stones to confidence and competency.</h1>
  <br />
  <h3>To get started, register or sign in. </h3>
  <br />
  <h3>Gather a group, pick a challenge, and start an interview!</h3>
  <br />
  <h3>Reviewers can leave feedback that the candidate can later review.</h3>
<% else %>
  <div class='main-content'>
    <% if flash.alert %>
      <div class='alert alert-danger'>
        <%= flash.alert %>
      </div>
    <% end %>
    <h1>I want to...</h1>
    <h3>Be The Interviewer</h3>
    <div class='panel panel-default' style="width: 600px">
      <div class='panel-heading'>
        <h3 class='panel-title'>Interviews I've Led Today</h3>
      </div>
      <div class='container panel-body'>
        <% if @interviewer_interviews.empty? %>
          You have not yet led any interviews today.
        <% else %>
          <% @interviewer_interviews.each do |interview| %>
            <div>
              Interviewing
              <%= link_to interview.applicant.username, interview.applicant %>
              on
              <%= link_to "#{interview.challenge.title}", interview %>
            </div>
          <% end %>
        <% end %>
        <span class='help-block'> </span><br />
        <span class='help-block'> </span>
        <div class='create-button'>
          <%= link_to 'Start Interview', challenges_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <h3>Give Feedback</h3>
    <div class='panel panel-default' style="width: 600px">
      <div class='panel-heading'>
        <h3 class='panel-title'>Join an Interview as a Reviewer</h3>
      </div>
      <div class='panel-body'>
        <%= form_tag 'i' do %>
            Ask the interviewer for the access code
            <span class='help-block'> </span>
            <span class="form-group">
              <span class="col-md-4">
                <%= text_field_tag :token, nil, class: "form-control input-md", placeholder: 'Eg. LSAL' %>
              </span>
            </span>
            <span class="form-group">
              <span class="col-md-4">
                <%= submit_tag "Join Interview", class: "btn btn-primary" %>
              </span>
            </span>
        <% end %>
      </div>
    </div>
    <h3>See My Feedback</h3>
    <div class='panel panel-default' style="width: 600px">
      <div class='panel-heading'>
        <h3 class='panel-title'>My Interviews</h3>
      </div>
      <div class='container panel-body'>
        <% if @applicant_interviews.empty? %>
          You have no interviews.
        <% else %>
          <% @applicant_interviews.each do |interview| %>
            <div>
              <%= link_to "#{interview.challenge.title}", interview %>
              - Interviewed by
              <%= link_to interview.interviewer.username, interview.interviewer %>
              on
              <%= interview.date %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
