<body>
  <% if !logged_in? %>
    <%= render partial:'/sessions/form' %>
  <% end %>
  <% if logged_in? %>
    <div class="container">
      <% if flash[:alert] %>
        <div class='errors'>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= form_tag 'i' do %>
        <span class="form-group">
          <span class="col-md-4">
            <%= text_field_tag :token, nil, class: "form-control input-md" %>
          </span>
        </span>
        <span class="form-group">
          <span class="col-md-4">
            <%= submit_tag "Join Interview", class: "btn btn-primary" %>
          </span>
        </span>
      <% end %>
    </div>
  <% end %>
</body>
