<% if !logged_in? %>
  <%= render partial:'/sessions/form' %>

  <div class="row row-login">
    <div class="col-sm-6 card-fb card-login">
      <div class="card card-fb card-login">
        <div class="card-block card-block-fb card-login">
          <h5 class="card-title card-title-login" style="margin-top: 30%">To get started, register or sign in.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 card-fb card-login">
      <div class="card card-fb card-login">
        <div class="card-block card-block-fb card-login">
          <h5 class="card-title card-title-login">Gather a group, pick a challenge, and start an interview!</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 card-fb card-login">
      <div class="card card-fb card-login">
        <div class="card-block card-block-fb card-login">
          <h5 class="card-title card-title-login">Reviewers can leave feedback that the candidate can later review.</h5>
        </div>
      </div>
    </div>
  </div>


<% else %>
  <div class='main-content'>
    <% if flash.alert %>
      <div class='alert alert-danger'>
        <%= flash.alert %>
      </div>
    <% end %>
    <h1>I want to...</h1>
    <h3>Be The Interviewer</h3>
    <div class='panel panel-default' style="width: 600px">
      <div class='panel-heading'>
        <h3 class='panel-title'>Interviews I've Led Today</h3>
      </div>
      <div class='panel-body'>
        <% if @interviewer_interviews.empty? %>
          You have not yet led any interviews today.
        <% else %>
          <% @interviewer_interviews.each do |interview| %>
            <div>
              Interviewing
              <%= link_to interview.applicant.username, interview.applicant %>
              on
              <%= link_to "#{interview.challenge.title}", interview %>
            </div>
          <% end %>
        <% end %>
        <span class='help-block'> </span><br />
        <div>
          <span class='help-block'> </span>
          <div class='btn-container'>
            <%= button_to 'Start Interview', challenges_path, method: 'get', class: 'btn btn-primary btn-interview right' %>
          </div>
        </div>
      </div>
    </div>
    <h3>Give Feedback</h3>
    <div class='panel panel-default' style="width: 600px">
      <div class='panel-heading'>
        <h3 class='panel-title'>Join an Interview as a Reviewer</h3>
      </div>
      <div class='panel-body'>
        <%= form_tag 'i' do %>
          Ask the interviewer for the access code
          <span class="btn-container">
            <%= text_field_tag :token, nil, class: "form-control input-md btn-interview", placeholder: 'Eg. LSAL' %>
            <span class='space'></span>
            <%= submit_tag "Join Interview", class: "btn btn-primary btn-interview right" %>
          </span>
        <% end %>
      </div>
    </div>
    <h3>See My Feedback</h3>
    <div class='panel panel-default' style="width: 600px">
      <div class='panel-heading'>
        <h3 class='panel-title'>My Interviews</h3>
      </div>
      <div class='container panel-body'>
        <% if @applicant_interviews.empty? %>
          You have no interviews.
        <% else %>
          <% @applicant_interviews.each do |interview| %>
            <div>
              <%= link_to "#{interview.challenge.title}", interview %>
              - Interviewed by
              <%= link_to interview.interviewer.username, interview.interviewer %>
              on
              <%= interview.date %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
