<h1>Start an Interview</h1>

<div class='errors'>
  <% if @interview.errors.any? %>
    <% @interview.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
</div>

<div class='form-container'>
  <%= form_for @interview do |f| %>
    <%= f.hidden_field :interviewer_id, value: current_user.id %>
    <%= f.label "Applicant's username" %>
    <%= f.text_field :applicant_id %>
    Challenge:
    <%= @challenge.title %>
    <%= f.hidden_field :challenge_id, value: @challenge.id %>
    <%= f.submit "Start Interview" %>
  <% end %>
</div>
