<h1>Practice Interview for <%= @interview.applicant.full_name %></h1>
<h3>Interviewed by <%= @interview.interviewer.full_name %> on <%= @interview.created_at.strftime('%-m/%-d/%Y') %> </h3>

<div class='challenge-container'>
  <h2> <%= @interview.challenge.title_and_difficulty %>  </h2>
  <p>
    <%= @interview.challenge.body %>
  </p>
  <p>
    <% if @interview.challenge.input && @interview.challenge.input.length > 0%>
      <h4>Input:</h4> <%= @interview.challenge.input %>
    <% end %>
    <% if @interview.challenge.output && @interview.challenge.output.length > 0%>
      <h4>Output:</h4> <%= @interview.challenge.output %>
    <% end %>
    <% if @interview.challenge.solution && @interview.challenge.solution.length  > 0 %>
      <h4>Solution:</h4>
      <pre>
        <%= simple_format(@interview.challenge.solution) %>
      </pre>
    <% end %>
  </p>
</div>
<% if current_user == @interview.applicant %>
  <div class='feedback-container'>
    <h2>Your Feedback</h2>
    <% @interview.feedbacks.each do |feedback| %>
      <ul>
        <li>Reviewer: <%= feedback.user.full_name %></li>
        <li>Board: <%= feedback.board_rating %></li>
        <li>Presence: <%= feedback.presence_rating %></li>
        <li>Knowledge: <%= feedback.knowledge_rating %></li>
        <li>RIOT: <%= feedback.riot_rating %></li>
        <li>Comments: <%= simple_format(feedback.comments) %></li>
      </ul>
    <% end %>
  </div>
<% else %>
  <% if @interview.has_feedback_from?(current_user)%>
    <h5>Thank you for your <i>actionable, specific & kind</i> feedback.</h5>
  <% else %>
    <div class='form-container'>
      <h2>Give Feedback</h2>
      <% if @feedback.errors.any? %>
        <div class='errors'>
          <% @feedback.errors.full_messages.each do |error| %>
            <div>
              <%= error %>
            </div>
          <% end %>
        </div>
        <br />
      <% end %>
      <%= form_for [@interview, @feedback] do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :interview_id, value: @interview.id %>
        <%= f.label "Board Rating: " %><%= f.select :board_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "Presence Rating: " %><%= f.select :presence_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "Knowledge Rating: " %><%= f.select :knowledge_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "RIOT Rating: " %><%= f.select :riot_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "Comments: " %><br />
        <%= f.text_area :comments, size: "80x10", placeholder: "Make sure your feedback is actionable, specific, and kind." %><br />
        <%= f.submit 'Give Feedback' %>
      <% end %>
    </div>
  <% end %>
<% end %>
