<h1>Practice Interview for <%= link_to "#{@interview.applicant.full_name}", user_path(@interview.applicant_id) %></h1>
<h3>Interviewed by <%= @interview.interviewer.full_name %> on <%= @interview.date %> </h3>

<%= render partial: '/challenges/challenge', locals: { challenge: @interview.challenge } %>
<% if current_user == @interview.interviewer || current_user == @interview.applicant %>
  <div class='form-container'>
    <%= form_for @interview do |f| %>
      Whiteboard image:
      <%= f.file_field :image %>
      <%= f.submit 'Upload' %>
    <% end %>
  </div>
<% end %>
<% if current_user == @interview.applicant %>
  <div class='feedback-container'>
    <h2>Your Feedback</h2>
    <%= render partial: '/feedbacks/legend' %>
    <br />
    <% @interview.feedbacks.each do |feedback| %>
      <ul>
        <li>Reviewer: <%= feedback.user.full_name %></li>
        <li>Whiteboard Neatness and Clarity: <%= feedback.board_rating %></li>
        <li>Poise and Presence: <%= feedback.presence_rating %></li>
        <li>Demonstration of Knowledge: <%= feedback.knowledge_rating %></li>
        <li>RIOT Rating: <%= feedback.riot_rating %></li>
        <li>Comments: <%= simple_format(feedback.comments) %></li>
      </ul>
    <% end %>
  </div>
<% else %>
  <% if @interview.has_feedback_from?(current_user)%>
    <h5>Thank you for your <i>actionable, specific & kind</i> feedback.</h5>
  <% else %>
    <div class='form-container'>
      <%= render partial: '/feedbacks/edit', locals: { interview: @interview} %>
    <div>
      <%= render partial: '/feedbacks/ask_guidelines' %>
        <% if @feedback.errors.any? %>
          <div class='errors'>
            <% @feedback.errors.full_messages.each do |error| %>
              <div>
                <%= error %>
              </div>
            <% end %>
          </div>
          <br />
        <% end %>
        <br />
      </div>
    </div>
  <% end %>
<% end %>
<div>
  <%= image_tag @interview.image.url if @interview.image_stored? %>
</div>
