<h1>Practice Interview for <%= link_to "#{@interview.applicant.full_name}", user_path(@interview.applicant_id) %></h1>
<h3>Interviewed by <%= @interview.interviewer.full_name %> on <%= @interview.date %> </h3>

<%= render partial: '/challenges/challenge', locals: { challenge: @interview.challenge } %>
<% if current_user == @interview.interviewer || current_user == @interview.applicant %>
  <div class='form-container'>
    <%= form_for @interview do |f| %>
      Whiteboard image:
      <%= f.file_field :image %>
      <%= f.submit 'Upload' %>
    <% end %>
  </div>
<% end %>
<% if current_user == @interview.applicant %>
  <div class='feedback-container'>
    <h2>Your Feedback</h2>
    <% @interview.feedbacks.each do |feedback| %>
      <ul>
        <li>Reviewer: <%= feedback.user.full_name %></li>
        <li>Board: <%= feedback.board_rating %></li>
        <li>Presence: <%= feedback.presence_rating %></li>
        <li>Knowledge: <%= feedback.knowledge_rating %></li>
        <li>RIOT: <%= feedback.riot_rating %></li>
        <li>Comments: <%= simple_format(feedback.comments) %></li>
      </ul>
    <% end %>
  </div>
<% else %>
  <% if @interview.has_feedback_from?(current_user)%>
    <h5>Thank you for your <i>actionable, specific & kind</i> feedback.</h5>
  <% else %>
    <div class='form-container'>
      <h2>Give Feedback</h2>
      <% if @feedback.errors.any? %>
        <div class='errors'>
          <% @feedback.errors.full_messages.each do |error| %>
            <div>
              <%= error %>
            </div>
          <% end %>
        </div>
        <br />
      <% end %>
      <%= form_for [@interview, @feedback] do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :interview_id, value: @interview.id %>
        <%= f.label "Board Rating: " %><%= f.select :board_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "Presence Rating: " %><%= f.select :presence_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "Knowledge Rating: " %><%= f.select :knowledge_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "RIOT Rating: " %><%= f.select :riot_rating, [5,4,3,2,1], prompt: "-" %><br />
        <%= f.label "Comments: " %><br />
        <%= f.text_area :comments, size: "80x10", placeholder: "Make sure your feedback is actionable, specific, and kind." %><br />
        <%= f.submit 'Give Feedback' %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div>
  <%= image_tag @interview.image.url if @interview.image_stored? %>
</div>
