<h1>Practice Interview for <%= link_to "#{@interview.applicant.full_name}", user_path(@interview.applicant_id) %></h1>
<h3>Interviewed by <%= @interview.interviewer.full_name %> on <%= @interview.date %> </h3>

<%= render partial: '/challenges/challenge', locals: { challenge: @interview.challenge } %>
<% if current_user == @interview.interviewer || current_user == @interview.applicant %>
  <div class='form-container'>
    <%= form_for @interview do |f| %>
      Whiteboard image:
      <%= f.file_field :image %>
      <%= f.submit 'Upload' %>
    <% end %>
  </div>
<% end %>
<% if current_user == @interview.applicant %>
  <div class='feedback-container'>
    <h2>Your Feedback</h2>
    <%= render partial: '/feedbacks/legend' %>
    <br />
    <% @interview.feedbacks.each do |feedback| %>
      <ul>
        <li>Reviewer: <%= feedback.user.full_name %></li>
        <li>Whiteboard Neatness and Clarity: <%= feedback.board_rating %></li>
        <li>Poise and Presence: <%= feedback.presence_rating %></li>
        <li>Demonstration of Knowledge: <%= feedback.knowledge_rating %></li>
        <li>RIOT Rating: <%= feedback.riot_rating %></li>
        <li>Comments: <%= simple_format(feedback.comments) %></li>
      </ul>
    <% end %>
  </div>
<% else %>
  <% if @interview.has_feedback_from?(current_user)%>
    <% @feedback = @interview.feedbacks.where(user_id: current_user.id) %>
    <%= "FEEDBACK ID: #{@feedback.first.id}"  %>
    <h5>Thank you for your <i>actionable, specific & kind</i> feedback. Click Edit Feedback if you would like to make any changes.</h5>
    <%= button_to "Edit Feedback", edit_interview_feedback_path( @interview, @feedback.first ), method: :get, class: 'button' %>
  <% else %>
    <h1>Give Feedback</h1>
    <%= render partial: '/feedbacks/feedback_form' %>
  <% end %>
  <div>
    <%= render partial: '/feedbacks/ask_guidelines' %>
  </div>
<% end %>
<div>
  <%= image_tag @interview.image.url if @interview.image_stored? %>
</div>
