<% if @user.errors.any? %>
  <div class="alert alert-danger signup" role="alert">
    <% @user.errors.full_messages.each do |error| %>
        <p><%= error %></p>
    <% end %>
  </div>
<% end %>

<div class="page-header">
  <div class="pull-left">
    <h1 style="color: #5e6160">Sign Up <br />
      <small> Join our community and start practicing!</small></h1>
  </div>
  <div class="clearfix"></div>
</div>


<div class='reg-header'>

</div>

<div class='new-user-container'>
  <div class="container">
    <%= form_for @user, :html => { :class =>
  'form-horizontal register-form-container' } do |f| %>

      <div class="form-group registration">
        <div class="col-md-4">
          <%= f.text_field :first_name, class: "form-control input-md", placeholder:'First Name' %>
          <span class="help-block"> </span>
        </div>

      </div>

      <div class="form-group registration">
        <div class="col-md-4">
          <%= f.text_field :last_name, class: "form-control input-md", placeholder:'Last Name' %>
          <span class="help-block"> </span>
        </div>
      </div>

      <div class="form-group registration">
        <div class="col-md-4">
          <%= f.text_field :email, class: "form-control input-md", placeholder:'Email' %>
          <span class="help-block"> </span>
        </div>
      </div>

      <div class="form-group registration">
        <div class="col-md-4">
          <%= f.text_field :username, class: "form-control input-md", placeholder:'Username' %>
          <span class="help-block"> </span>
        </div>
      </div>

      <div class="form-group registration">
        <div class="col-md-4">
          <%= f.password_field :password, class: "form-control input-md", placeholder:'Password' %>
          <span class="help-block"> </span>
        </div>
      </div>

      <div class="form-group registration">
        <div class="col-md-4">
          <%= f.password_field :password_confirmation, class: "form-control input-md", placeholder:'Confirm Password' %>
          <span class="help-block"> </span>
        </div>
      </div>

      <div class="form-group registration">
        <div class="col-md-4">
          <%= f.submit 'Register', id: 'singlebutton', name: 'singlebutton', class: 'btn btn-primary reg-btn' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
