<div class='main-content panel panel-default'>
  <div class='panel-heading'>
    <div>First Name: <%= @user.first_name %></div>
    <div>Last Name: <%= @user.first_name %></div>
    <div>Username: <%= @user.first_name %></div>
    <% if @user == current_user %>
      <div>Email: <%= @user.email %></div>
    <% end %>
    <br />
    <% if @user == current_user %>
      My
    <% else %>
      <%= @user.username %>'s
    <% end %>
    Interviews
    <% if current_user == @user %>
      <span class='right'>
        <%= link_to 'Edit Profile', edit_user_path(current_user) %>
      </span>
    <% end %>
  </div>
  <div class='panel panel-default'>
    <ul class='interviews-list'>
      <% @user.interviews.each do |interview| %>
      <li class='interview-item panel'>
        <% if logged_in? && current_user == @user %>
          <%= link_to "#{interview.challenge.title}", interview %> on <%= interview.date %>
          <% if interview.feedbacks.length > 0 %>
            <p class='ratings'>
              <div class='avg-ratings'>Average Ratings</div>
              Board: <%= interview.average_board_rating %><br />
              Presence: <%= interview.average_presence_rating %><br />
              Knowledge: <%= interview.average_knowledge_rating %><br />
              RIOT: <%= interview.average_riot_rating %>
            </p>
          <% end %>
        <% else %>
          <%= link_to "#{interview.challenge.title}", interview %> on <%= interview.date %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
