<h1><%= @user.username %>'s Interviews</h1>
<div class='interviews-container'>
  <ul class='interviews-list'>
    <% @user.interviews.each do |interview| %>
    <li>
      <% if logged_in? && current_user == @user %>
        <%= link_to "#{interview.challenge.title}", interview %> <%= interview.average_knowledge_rating %>
      <% else %>
        <%= interview.applicant.username %>'s interview, ID: <%= interview.id %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
