
  <div class="feedbacks">
        <ul>
          <% if feedback.user == current_user %>
            <h5 class="card-subtitle mb-2 text-muted">Feedback from me:</h5>
          <% else %>
            <h5 class="card-subtitle mb-2 text-muted">Reviewer: <%= feedback.user.full_name %></h5>
          <% end %>
          <li>Whiteboard: <%= feedback.board_rating %></li>
          <li>Presence: <%= feedback.presence_rating %></li>
          <li>Knowledge: <%= feedback.knowledge_rating %></li>
          <li>RIOT: <%= feedback.riot_rating %></li>
          <li><b>Comments:</b><%= simple_format(feedback.comments) %></li>
        </ul>
  </div>
