<div class='challenge-filters'>
  <%= form_tag url_for(controller: 'challenges', action: 'index'), method: 'get' do %>
    Filter by difficulty level:
    <p>
    Easy <%= check_box_tag 'difficulty[]', 'Easy', @difficulty_checked['Easy'], {multiple: true} %>
    </p>
    <p>
    Medium <%= check_box_tag  'difficulty[]', 'Medium', @difficulty_checked['Medium'], {multiple: true} %>
    </p>
    <p>
    Hard <%= check_box_tag  'difficulty[]', 'Hard', @difficulty_checked['Hard'], {multiple: true} %>
    </p>
    <%= submit_tag 'Filter', id: 'singlebutton', name: 'singlebutton', class: 'btn btn-primary' %>
  <% end %>
</div>

<div class='challenges-container'>
  <ul class='challenges-list'>
    <% @challenges.each do |challenge| %>
      <li>
        <%= link_to challenge.title_and_difficulty, challenge_path(challenge) %>
        <% if challenge.tags.length > 0 %> <br />(Tags:
          <% challenge.tags.each do |t| %>
          <%= t.name %>
          <% end %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
