<div class='sidebar'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Filter By Difficulty Level</h3>
    </div>
    <div class="panel-body">
      <%= form_tag url_for(controller: 'challenges', action: 'index'), method: 'get' do %>

      <div class='easy-box'>Easy <%= check_box_tag 'difficulty[]', 'Easy', @difficulty_checked['Easy'], {multiple: true} %></div><br />

      <div class='medium-box'>Medium <%= check_box_tag  'difficulty[]', 'Medium', @difficulty_checked['Medium'], {multiple: true} %></div><br />

      <div class='hard-box'>Hard <%= check_box_tag  'difficulty[]', 'Hard', @difficulty_checked['Hard'], {multiple: true} %></div><br />

    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Filter By Tags</h3>
    </div>
    <div class="panel-body">
      <% Tag.all.each do |tag| %>
        <div class='easy-box'> <%= tag.name %> <%= check_box_tag 'tag[]', tag.name, @tags_checked[tag.name], {multiple: true} %></div><br />
      <% end %>
      <div class='filter-button'><%= submit_tag 'Filter', id: 'singlebutton', name: 'singlebutton', class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</div>

<div class='table-container'>
  <div class='challenge-filters container'>
    <h2>Challenges</h2>
    <br />
    <% if logged_in? %>
      <h4>To start an interview, choose a challenge, and click the "Start Interview" button to its right.</h4>
    <% end %>
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th scope="row">Title</th>
          <th>Difficulty</th>
          <th>Tags</th>
          <% if logged_in? %>
            <th> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @challenges.each do |challenge| %>
          <tr>
            <td>  <%= link_to challenge.title, challenge_path(challenge) %> </td>
            <td>  <%= challenge.difficulty %> </td>
            <td>
              <% if challenge.tags.length > 0 %>
                <% challenge.tags.each do |t| %>
                  <%= t.name %>
                <% end %>
              <% end %>
            </td>
            <% if logged_in? %>
              <td>
                <%= form_tag url_for(controller: 'interviews', action: 'new'), method: 'get' do %>
                  <%= hidden_field_tag :challenge_id, challenge.id %>
                  <%= submit_tag 'Start Interview', class: 'btn-link' %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if logged_in? %>
      <div class='create-button table'>
        <%= link_to 'Create New Challenge', new_challenge_path, name: 'singlebutton' %>
      </div>
    <% end %>
  </div>
</div>
