<h3>Create a Challenge</h3>
<%= form_for @challenge do |f| %>
<p>
  <%= f.label :title %>*<br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :input %><br>
  <%= f.text_field :input %>
</p>
<p>
  <%= f.label :output %><br>
  <%= f.text_field :output %>
</p>
<p>
  <%= f.label :body %>*<br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.label :difficulty %>*<br>
  <%= f.select :difficulty, ['Easy', 'Medium', 'Hard'] %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
