<!DOCTYPE html>
<html>
  <head>
    <title>Whiteboardr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag('wb_banner_logo.png', class: 'wb-log') %></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Challenges', challenges_path %></li>
            <% if logged_in? %>
              <li><%= link_to 'My Profile', user_path(current_user) %></li>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              <li><%= link_to "Hi " + current_user.first_name+ "!", user_path(current_user) %></li>
            <% else %>
              <li><%= link_to 'Register', new_user_path %></li>
              <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
  <!-- /END THE FEATURETTES -->

<div class="container marketing">
  <hr class="featurette-divider">

  <!-- FOOTER -->
  <footer>
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>Joel Guerra, Jeremy Lee, Jordan Levine, Kris Weber
  </footer>

</div><!-- /.container -->
</html>
